<html>
  <title>INGRESAR DEMONIO</title>
  
  <body>
    
    <div style="padding-top: 20px;">
      <p id="tll">Ingresar Demonio</p>
  </div>  

    <div id="centerDiv" style="margin-top: 10px;">
    <form method = "POST" enctype="multipart/form-data">
    
      {% csrf_token %} <!--Toquén de seguirad para django -->
     
      {{ form.as_p }}
     
          <button type="submit" class="btn waves-effect waves-light green ">
            Guardar
          </button>
    <br><br>
    </form>
  </div>
    

</body>

 
<html>
